<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>smartblog</name>
    <displayName><![CDATA[Smart Blog]]></displayName>
    <version><![CDATA[3.2.3]]></version>
    <description><![CDATA[The Most Powerfull Prestashop Blog  Module - by smartdatasoft]]></description>
    <author><![CDATA[SmartDataSoft]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>