<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>nrtwishlist</name>
    <displayName><![CDATA[Axon - Wishlist Block]]></displayName>
    <version><![CDATA[2.3.0]]></version>
    <description><![CDATA[Adds a block containing the customer&#039;s wishlists.]]></description>
    <author><![CDATA[AxonVIZ]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>