<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ph_scrolltotop</name>
    <displayName><![CDATA[Amazing Scroll to Top]]></displayName>
    <version><![CDATA[1.0.7]]></version>
    <description><![CDATA[Create and customize your scroll to top button.]]></description>
    <author><![CDATA[PrestaHero]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>