<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>nrtcountdown</name>
    <displayName><![CDATA[Axon - Special Price Countdown]]></displayName>
    <version><![CDATA[2.1.0]]></version>
    <description><![CDATA[Show timer for special price with definied time limit]]></description>
    <author><![CDATA[AxonVIZ]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>