<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>nrtzoom</name>
    <displayName><![CDATA[Axon - Zoom]]></displayName>
    <version><![CDATA[2.0.3]]></version>
    <description><![CDATA[Enables zooming on images and magnifier effects]]></description>
    <author><![CDATA[AxonVIZ]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>