<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>nrtsearchbar</name>
    <displayName><![CDATA[Axon - Search Bar]]></displayName>
    <version><![CDATA[2.2.4]]></version>
    <description><![CDATA[Adds a quick search field to your website.]]></description>
    <author><![CDATA[AxonVIZ]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>